<?xml version="1.0"?>
<model>
  <name>OMRS research quadrotor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Constrained OMRS prototype</name>
  </author>
  <description>
    Generic 1.2 kg X-configuration research quadrotor used by the constrained OMRS Gazebo experiment.
  </description>
</model>
